/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
   See /stylesheets/README.txt for an explanation of
   any CSS browser detection hacks used in this file
   >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

#cnx_portal-siteactions, #cnx_portal-searchbox, #cnx_portal-globalnav, 
#cnx_sidebar_column, #musical-examples, .title-bar, #cnx_actions_bottom, 
#cnx_prev_next_top *, #cnx_author_links_togglers, .hiddenStructure, 
.solution-toggles, .ca_button, #cnx_order_link, .cnx_email_author, .lensinfo, 
#cnx_social_media_top{
  display: none !important;
}

p, html, body, img{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  font-family: georgia, batang, bookman old style, book antiqua, times, times new roman, serif;
  font-size: 10pt;
  padding: 15pt;
}

* html body{
  padding: 0;
}

h1, h2, h3, h4, h5, h6{
  font-size: 10pt;
  margin: 0;
}

.para{
  margin: 10pt 0;
}

.cnx_before, .title, em{
  font-weight: bold;
}

a{
  color: #369;
}

.cnxn{
  font-weight: bold;
}

#cnx_main{
  line-height: 14pt;
}

.list{
  margin: 10pt 0;
}

.list ul, .list ol{
  padding: 0;
  margin: 0 0 0 25pt;
}

.list ol{
  margin-left: 30pt;
}

ol.arabic{ list-style-type: decimal; }
ol.upper-roman{ list-style-type: upper-roman; }
ol.lower-roman{ list-style-type: lower-roman; }
ol.upper-alpha{ list-style-type: upper-alpha; }
ol.lower-alpha{ list-style-type: lower-alpha; }
ul.bullet{ list-style-type: disc; }
ul.open-circle{ list-style-type: circle; }
ul.other{ list-style-type: none; }
ol.other{ list-style-type: none; }
ul.labeled-item{ list-style-type: none; }

ol.other, ul.other, ul.labeled-item{
  margin-left: 15pt;
}

.list li{
  padding: 0;
  margin: 0 0 7pt;
}

.list-header{
  margin: 10pt 0 5pt;
}

span .list-header{
  display: inline;
}

div.list .item-decoration{
  margin-right: .5em;
}

#cnx_main a:after, #cnx_author_links a:after{
  content: " (" attr(href) ") ";
  color: black;
  text-decoration: none;
  font-weight: normal;
  font-size: 8pt;
}

#cnx_main a[href^="/"]:after, #cnx_portal-logo a[href^="/"]:after{
  content: " (http://cnx.org" attr(href) ") ";
  font-size: 8pt;
}

#cnx_portal-logo a[href^="/"]:after{
  font-weight: normal;
  color: black;
}

#cnx_main code a:after, #cnx_main pre a:after, #cnx_main 
a.footnote-reference:after, #cnx_main a.cite:after, #cnx_main 
.example.musical a:after, #cnx_main .footnotes a:after, #bibtexfile
a:after, #cnx_main #cnx_course_contributors a:after{
  content: "" !important;
}

#cnx_portal-logo{
  padding-bottom: 3pt;
}

#cnx_portal-logo a{
  font-size: 15pt;
  color: #369;
  text-decoration: none;
  width: 100%;
}

#cnx_portal-top{
  border-bottom: 1pt solid black;
  width: 100%;
  padding-bottom: 10pt;
  margin-bottom: 15pt;
}

#cnx_header, html>body #cnx_header{
  margin: 15pt 0;
}

h1{
  font-size: 24pt;
  font-weight: bold;
  margin: 12pt 0 0;
  color: #e70;
  font-family: tahoma, verdana, helvetica, arial, sans-serif;
}

#cnx_authorship{
  margin: 15pt 0 10pt;
}

#cnx_parent, .cnx_optional_role{
  display: block;
  margin-top: 7pt;
}

#cnx_rate{
  margin: 10pt 0;
}

#cnx_rating_stars img{
  vertical-align: -2pt;
}

#cnx_rating_quantity{
  padding-left: 5pt;
  font-style: italic;
}

#cnx_module_header{
  border-bottom: 1pt solid #fc0;
  padding-bottom: 10pt;
  margin-bottom: 10pt;
}

#cnx_course_header{
  padding-bottom: 10pt;
  margin-bottom: 10pt;
}

#cnx_prev_next_top{
  border-bottom: 1pt solid #ccc;
  clear: both;
}

#cnx_book_icon{
  float: left;
  margin: 0 5pt 5pt 0;
}

#cnx_course_header .name{
  display: block;
  font-size: 12pt;
}

#cnx_course_authors{
  margin-top: 10pt;
}

#cnx_author_links{
  float: right;
  border: 1pt solid #ccc;
  border-right-color: #333;
  border-bottom-color: #333;
  font-size: 8pt;
  margin: 10pt 0 5pt 15pt;
  background-color: white;
  padding: 10pt;
}

#cnx_author_links_contents{
  display: block !important;
}

#cnx_author_links h2, #cnx_author_links h3{
  margin: 0 0 4pt;
  font-size: 8pt;
  color: #333;
}

#cnx_author_links ul{
  margin: 0 0 10pt;
  padding-left: 10pt;
}

#cnx_author_links li{
  padding: 0;
  margin: 0 0 .3pt;
}

.section-header{
  color: #369;
  border-bottom: 1pt solid #369;
  border-right: 1pt solid #369;
  font-size: 16pt;
  padding: 0 3pt 3pt 0;
  font-family: tahoma, verdana, helvetica, arial, sans-serif;
  margin-bottom: 10pt;
}

.section{
  margin: 20pt 0;
}

.section .section{
  margin-left: 36pt;
}

.section .section .section-header{
  font-size: 12pt;
  border-right: 0;
  padding: 0 0 3pt 0;
}

.example .section-header, .proof .section-header, .problem .section-header, .solution .section-header, .statement .section-header{
  font-weight: normal;
  font-size: 10pt;
}

.example .section, .problem .section, .solution .section, .statement .section, .proof .section{
  margin: 10pt 0 20pt 36pt;
}

.qmlitem .section{
  margin-top: 10pt;
}

span.cnx_label, .footnote-reference, .equation-number, .view-math, 
.view-math a, .references-header, .glossary-header, .bibtex-reference, 
.footnotes-header{
  font-size: 8pt; 
  color: #369;
  text-transform: uppercase;
  font-weight: bold;  
  font-family: tahoma, verdana, helvetica, arial, sans-serif;
}

.cnx_label code{
  text-transform: none;
}

code{
  font-size: 9pt;
  color: #060;
  font-style: normal;
}

pre{
  text-align: left;
  line-height: normal;
}

code blockquote, .foreign blockquote, blockquote code{
  font-style: normal;
}

div.preformat{
  margin: 5pt 0;
}

pre.preformatted{
  font-family: Georgia, Garamond, Times, serif;
  font-size: 11pt;
  margin: 5pt 0;
}

span.preformat{
  font-family: courier new, courier, monospace;
}

blockquote{
  font-style: italic;
  margin-left: 60pt;
  margin-right: 60pt;
  line-height: normal;
}

.quote-header{
  margin: 5pt 60pt -7pt 60pt;
}

.quote-source, .term-source{
  text-transform: uppercase;
  font-size: 8pt;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}

.quote-source-before, .quote-source-after, .term-source-before, .term-source-after{
  font-style: normal;
  font-weight: normal;
}

.example{
  margin: 10pt 36pt;
  padding: 7pt 10pt;
  border: 1pt solid;
  border-bottom-color: #333;
  border-right-color: #333;
  border-top-color: #ccc;
  border-left-color: #ccc;
}

.example .para, .statement .para{
  margin: 7pt 0;
}

.definition .example, .rule .example{
  margin: 5pt 36pt;
  padding: 5pt 10pt 0;
}

.definition .example .para, .rule .example .para{
  margin: 5pt 0;
}

.example.labview, .example.musical{
  margin: 0;
  text-align: center;
  border: 0;
}

.problemset-header{
  margin: 20pt 0 10pt;
}

.exercise{
  margin: 10pt 0;
}

.problem, .commentary{
  padding: 5pt 0;
}

.solution{
  padding: 5pt 0;
  margin-left: 36pt;
  display: block !important;
}

.term{
  font-weight: bold;
  font-style: normal;
  display: inline;
}

.term em, em .term{
  font-style: italic;
}

.definition{
  margin: 10pt 0;
}

.meaning, .seealso{
  margin: 5pt 0 5pt 36pt;
  padding: 2pt 0;
}

.seealso{
  margin: 2pt 0 2pt 60pt;
}

.meaning-number{   
  font-size: 10pt;
}

i .foreign, .foreign i, blockquote i, blockquote .foreign, i blockquote, .foreign blockquote{
  font-style: normal;
}

.foreign, blockquote i .foreign, blockquote .foreign i{
  font-style: italic;
}

cite, em{
  font-style: inherit;
}

.smallcaps{
  font-variant: small-caps;
}                 

.normal{
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  font-variant: normal;
}

.equation{
  margin: 5pt 0 10pt;
  position: relative;
  width: 100%;
}

.equation-number{
  position: absolute;
  top: 50%;
  right: 0;
}

.equation .title{
  display: block;
  margin-bottom: 10pt;
  text-align: left;
}

.cnx_warning a{
  color: #c00;
}

.cnx_warning{
  color: #c00;
  margin: 10pt;
  border: 1pt solid #c00;
  padding: 5pt;
  background: #fee;
  font-size: 8pt;
}

.figure{
  text-align: center;
  margin: 10pt auto;
}

.inner-figure{
  border-top: 1pt #666 solid;
  border-bottom: 1pt #666 solid;
  padding: 7pt 0;
}

.figure .title{
  display: block;
  margin-bottom: 5pt;
}

.vertical-subfigure, .vertical-subfigure-name, .horizontal-subfigure-name{
  text-align: center;
}

.figure-caption, .horizontal-subfigure-caption, .vertical-subfigure-caption, .table-caption, .code-caption{
  font-size: 8pt;
  padding-top: 5pt;
  text-align: left;
  font-weight: normal;
}

.table-caption, .code-caption{
  border-top: 1pt solid #666;
  margin: 0 25%;
  font-weight: normal;
}

div.table{
  margin: 10pt 0;
}

.table table{
  border: 1pt solid #888 !important;
  margin-top: 5pt;
  margin-bottom: 10pt;
}

td, th{
  padding: 3pt;
  font-size: 10pt;
}

.table-name{
  font-size: 10pt;
}

.table td, .table th{
  text-align: left;
  border: 1pt solid #888 !important;
}

semantics annotation-xml{
  display: none;
}

math[display="block"], math[mode="display"]{
  font-size: 120%;
}

div.note{
  padding: 6pt;
  margin: 5pt 60pt 10pt;
  border: 1pt solid;
  border-bottom-color: #333;
  border-right-color: #333;
  border-top-color: #ccc;
  border-left-color: #ccc;
}

.footnote-reference{
  font-size: 8pt;
  vertical-align: 4pt;
  line-height: 10pt;
}

.rule{
  margin: 10pt 0;
}

.statement{
  margin: 10pt 5pt 5pt 36pt;
}

.proof{
  margin: 5pt 0 2pt 36pt;
}

.newline hr{              
  height: 0;
  margin: 1.4em 0 .25em;
  border: 0 solid black;
  border-width: 0 0 .5pt;           
}                                       

* html .newline hr{ margin: .5em 0 -.2em; } 
*+html .newline hr{ margin: .5em 0 -.2em; }

pre.underline{      
  text-decoration: underline;
}

pre.space{
  display: inline;
}

.glossary-container, .references, .footnotes{
  margin: 10pt 0;
  border-top: 1pt #ccc solid;
  padding: 10pt 0;
}

.glossary{
  margin: 10pt 0 10pt 36pt;
}

.glossary-container .glossary div, .glossary h3, .glossary h4, .glossary h5,
.glossary h6, .glossary p, .glossary dt, .glossary dd{
  display: inline;
  margin: 0;
  padding: 0;
  border: 0;
}

.glossary-definition dt{
  margin-left: -36pt;
}

.glossary .seealso{
  display: block;
  margin: 5pt 0 0 0;
}

.hint, .feedback{
  display: none;
}

.qmlitem .button{
  background-color: #cde;
  border: 1pt solid #1d3955;
  border-left-color: #c1d1e0;
  border-top-color: #c1d1e0;
  font-size: 10pt;
}

input.button, #cnx_main textarea, #cnx_main form{
  display: block;
  margin: 10pt 0 0;
}



#cnx_about_history pre{
  margin: 0;
}

#cnx_about_history #cnx_main p{
  margin-bottom: 15pt;
}

.cnx_cite{
  margin-left: 20pt;
}

#cnx_course #cnx_sidebar_column{
  display: block !important;
  float: right;
  width: 255pt;
}

#cnx_course .portletContainer, #cnx_course_content img{
  display: none !important;
}

#cnx_course #cnx_course_content{
  display: block !important;
}

#cnx_course_content{
  /* weird border declarations for safari */
  border-left: 1pt solid #369;
  border-top: 1pt solid #369;
  border-bottom: 1pt solid #369;
  background-color: white;
  padding-left: 10pt;
  margin: 0 0 5pt 12pt;
}

#cnx_course_content h3{
  font-size: 14pt;
  margin-top: 0;
}

#cnx_course_content h3 a{
  text-decoration: none;
  color: black;
}

#cnx_course_content h4, #cnx_course_content h5, #cnx_course_content h6{
  font-size: 10pt;
}

#cnx_course_content ul{
  margin: 2pt 0;
  padding: 0;
  display: block !important;
}

#cnx_course_content ul ul{
  margin-left: 10pt;
}

#cnx_course_content li{
  font-size: 8pt;
  list-style-type: square;
  display: list-item;
  padding: 2pt 0;
}

#cnx_course_content li.cnx_null_li{
  list-style-type: none;
}

#cnx_course_start{
  font-size: 15pt;
  font-weight: bold;
  margin: 10pt 0;
}

#cnx_course_contributors, #cnx_course_description{
  margin: 10pt 0;
}

#cnx_course_contributors .cnx_before{
  display: block;
}


#cnx_prev_next_bottom, #cnx_prev_next_bottom li{
  display: block;
  margin: 0 0 20pt;
  padding: 0;
  text-align: center;
}

#cnx_prev_next_bottom li{
  width: 31%;
  float: left;
}

#cnx_prev_next_bottom .cnx_previous{
  text-align: left;
  margin-right: 3%;
}

#cnx_prev_next_bottom .cnx_next{
  text-align: right;
  margin-left: 3%;
}

#cnx_prev_next_bottom .cnx_before{
  color: black;
  text-decoration: none;
  display: block;
  font-size: 8pt;
}


#cnx_footer{
  clear: both;
  font-size: 8pt;
  padding: 10pt 0;
  margin-top: 30pt;
  border-top: 1pt solid #fc0;
  border-right-width: 0; /* for safari */
  border-left-width: 0; /* for safari */
}

#cnx_partner_logos{
  float: right;
  margin: 0 0 5pt 10pt;
}

#cnx_metadata_links{
  margin-bottom: 5pt;
}

#cnx_attribution{
  margin-top: 5pt;
}

#cnx_license, #cnx_updated{
  margin: 10pt 0;
}

#cnx_updated{
  font-style: italic;
}
